<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href= "style.css" rel= "stylesheet">
</head>
<body>
    <h1>My Dashboard</h1>
    <div>
        <button>9:00</button>
        <button>12:30</button>
        <button>13:30</button>
        <button>17:00</button>
    </div>

    <div>Recipe talks</div>

    <form action="/logout" method="post">
        <input value="logout" type="submit">
    </form>

    <main class= "dashboard">
        <form class= "recipe_form_hidden" action="/dashboard" method="post">
            <div>
                <label for="recipe">Recipe :</label>
                <input type="text" id="recipe" name="recipe">
            </div>
            <div>
                <label for="author">Author(s) :</label>
                <input type="email" id="author" name="author">
            </div>
            <div>
                <label for= "date">Date : </label>
                <input type= "date" value= "" class= "date" name= "date">
            </div>
            <input class= "submit_recipe" type= "submit" value= "Submit">
        </form>        
    </main>
    <script src= "shanon.js"></script>

</body>
</html>