<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login</title>
        <link href= "index.css" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Spectral+SC:wght@200&display=swap" rel="stylesheet">  </head>
    <body>
        <main>
          <form action="/dashboard" method="post">
                <h2>BeCoffe</h2>
              <div class="input-field">
                  <input type="email" name="username" id="username" placeholder="Enter Email">
              </div>
              <div class="input-field">
                  <input type="password" name="password" id="password" placeholder="Enter Password">
              </div>
              <input type="submit" value="Login">
          </form>
        </main>
    </body>
</html>