main {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 900px;
    margin: 50px;
}
main section {
margin-top: -30px;
}
main p {
    background-color: rgb(17, 83, 224);
    opacity: 0.5;
    width: 150px;
    height: 150px;
    border-radius: 5%;
    border: 1px ridge black;
}
main p:hover {
    cursor: pointer;
}