body {
    background-color: #94849B;
    font-size: 30px;
    text-align: center;
    font-family: 'Spectral SC', serif;  
    overflow: hidden;
}
form {
    background-color: #320D6D;
    color: #FFD447;
    border-radius: 3%;
    border: 1px ridge #FFD447;
    width: 800px;
    height: 600px;
    margin-left: 20%;
}
input {
    background-color: #758ECD;
    color: #320D6D;
    border-radius: 2%;
    border: 1px solid #BCF4F5;
}