main {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    width: 900px;
    margin: 50px;
}
main section {
    margin-top: -30px;
}
main .calendar-square {
    background-color: lightblue;
    text-align: center;
    color: black;
    height: 20vh;
    margin: 1vh;
    border-radius: 5%;
    border: 2px ridge black;
}
main .calendar-square:hover {
    cursor: pointer;
}
.recipe_form, .recipe_form label, .recipe_form input {
    margin: 10px;
}
.recipe_form label {
    float: left;
}
.calendar-square {
  background: green;
  height: 40px;
  text-align: center;
  color: white;
}

.recipe-talks {
    display: flex;
    flex-direction: row;
}
.upcoming-recipe-talks {
    display: flex;
    flex-direction: column;
    width: 20vw;
}
.one-upcoming-talk {
    margin: 2vh 0;
}
.one-upcoming-talk > p,
.one-upcoming-talk > h4 {
    margin: 0;
}
.calendar-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.calendar {
    width: 70vw;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}
.added-recipe-talk {
    background-color: white;
}
.recipe_form,
.edit-recipe-form {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: rgb(92, 108, 119);
    width: 40vw;
    height: 30vh;
    border-radius: 3%;
    text-align: center;
    flex-direction: column;
}